@import '~antd/es/style/themes/default.less';

@form-search-prefix-cls: ~'@{ant-prefix}-pro-table-form-search';

.@{form-search-prefix-cls} {
  margin-bottom: 24px;
  padding: 16px;
  overflow: hidden;
  background: @component-background;
  .ant-form-item-label {
    min-width: 80px;
    text-align: right;
  }
  .ant-row:not(.ant-form-item) {
    > .ant-col {
      padding: 8px 0;
    }
  }

  .ant-row.ant-form-item {
    margin: 0;
  }

  .ant-form-item {
    display: flex;
  }

  .ant-form-item-control-wrapper {
    flex: 1;
  }

  &-option {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
  }
}
