@import '~antd/es/style/themes/default.less';

@pro-table-prefix-cls: ~'@{ant-prefix}-pro-table';

.@{pro-table-prefix-cls} {
  position: relative;
  z-index: 1;
  &:not(:root):fullscreen {
    min-height: 100vh;
    overflow: auto;
    background: @component-background;
  }
  &-option-cell {
    display: flex;
    align-items: center;
    &-item {
      margin-right: 8px;
    }
  }
  .@{ant-prefix}-pagination {
    padding: 0 24px;
  }

  .@{ant-prefix}-table-row .@{ant-prefix}-table-cell:first-child {
    padding-left: 24px;
  }

  .@{ant-prefix}-table-content tr:first-child > th:first-child {
    padding-left: 24px;
  }

  td.@{ant-prefix}-table-cell {
    a {
      padding: 0 8px;
      font-size: 14px;
    }
    .@{pro-table-prefix-cls}-option-cell {
      a {
        padding: 0;
      }
    }
  }
}
